# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# IDE settings
.vscode/
*.csproj.user

# Dependency directories
packages/
.vs/

# OS files
.DS_Store
Thumbs.db

# Others
*.db
*.cache
